* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* I want this CSS rule to set the font family for all elements. So by default my page is using Arial, and if it's not available, a generic sans-serif font would replace it.  */
button {
  all: unset;
  cursor: pointer;
}
