body {
  background-color: cornflowerblue;
}

.navbar {
  background-color: darkcyan;
  height: 50px;
}

.box {
  border: 1.5px solid;
  padding: 40px;
  height: auto;
  width: 30%;
  float: inline-start;
  border-radius: 20px;
  background-color: aquamarine;
}

.box2 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 30%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box3 {
  border: 1.5px solid;
  padding: 20px;
  height: auto;
  width: 30%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box4 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 20%;
  float: inline-start;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box5 {
  border: 1.5px solid;
  padding: 35px;
  height: auto;
  width: 25%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box6 {
  border: 1.5px solid;
  padding: 70px;
  height: auto;
  width: 40%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box7 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 30%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box8 {
  border: 1.5px solid;
  padding: 30px;
  height: auto
  width: 20%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box9 {
  border: 1.5px solid;
  padding: 20;
  height: auto;
  width:50%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box10 {
  border: 1.5px solid;
  padding: 40px;
  height: auto;
  width: 45%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box11 {
  border: 1.5px solid;
  padding: 35px;
  height: auto;
  width: 25%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box12 {
  border: 1.5px solid;
  padding: 60px;
  height: auto;
  width: 15%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

.box13 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 30%;
  float: left;
  border-radius: 20px;
  background-color: rgb(255, 242, 127);
}

h1 {
  background-color: aqua;
  color: rgb(129, 78, 126);
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-style: solid;
  border-width: 3px;
  border-color: chocolate;
  border-radius: 20px;
  margin: 50px;
  font-weight: 100;
}

p,
li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2,
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  text-align: center;
  font-size: small;
}

h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}
