body {
  background-color: ;
}

h1 {
  color: rgb(78, 78, 129);
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Big Shoulders Stencil", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-style: solid;
  border-width: 3px;
  border-color: chocolate;
  border-radius: 8px;
  margin: 50px;
  font-weight: 100;
}
/* 
p {
  border-style: solid;
  border-width: 2px;
} */

h2,
h3 {
  color: rgb(66, 109, 75);
  font-size: 1.5rem;
  font-family: "Big Shoulders Stencil", sans-serif;
  font-style: normal;
}
