body {
  background-color: #8cabbe;
}

h1 {
  background-color: #a4bfeb;
  color: black;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
  margin: 50px;
  font-weight: 100;
}

.box {
  border: 1.5px solid;
  padding: 40px;
  height: auto;
  width: 30%;
  float: inline-start;
  border-radius: 20px;
  background-color: beige;
}

.box2 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 30%;
  float: left;
  border-radius: 20px;
  background-color: bisque;
}

.box3 {
  border: 1.5px solid;
  padding: 20px;
  height: auto;
  width: 30%;
  float: left;
  border-radius: 20px;
  background-color: moccasin;
}

.box4 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 20%;
  float: inline-start;
  border-radius: 20px;
  background-color: moccasin;
}

.box5 {
  border: 1.5px solid;
  padding: 35px;
  height: auto;
  width: 25%;
  float: left;
  border-radius: 20px;
  background-color: beige;
}

.box6 {
  border: 1.5px solid;
  padding: 70px;
  height: auto;
  width: 40%;
  float: left;
  border-radius: 20px;
  background-color: bisque;
}

.box7 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 30%;
  float: left;
  border-radius: 20px;
  background-color: bisque;
}

.box8 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 20%;
  float: left;
  border-radius: 20px;
  background-color: moccasin;
}

.box9 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 40%;
  float: left;
  border-radius: 20px;
  background-color: beige;
}

.box10 {
  border: 1.5px solid;
  padding: 40px;
  height: auto;
  width: 40%;
  float: left;
  border-radius: 20px;
  background-color: beige;
}

.box11 {
  border: 1.5px solid;
  padding: 20px;
  height: auto;
  width: 20%;
  float: left;
  border-radius: 20px;
  background-color: bisque;
}

.box12 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 30%;
  float: left;
  border-radius: 20px;
  background-color: moccasin;
}

.box13 {
  border: 1.5px solid;
  padding: 30px;
  height: auto;
  width: 30%;
  float: inline-start;
  border-radius: 20px;
  background-color: beige;
}

p,
li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2,
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: normal;
}

h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}
